      <div id="library_caption" class="main_caption">Библиотека</div>
      <div id="library">
        <? foreach ($gamearray as $num => $gameinfo) {?>
          <div class="gamefield">
            <img class="gamelogo" src="http://media.steampowered.com/steamcommunity/public/images/apps/<?=$gameinfo->appid . '/' . $gameinfo->img_logo_url;?>.jpg">
            <span class="gamename"><?=$gameinfo->name?></span>
          </div>
        <?}?>
        <div class="clear"></div>
      </div>
      <!--
      <div id="inventory_caption" class="main_caption">Инвентарь</div>
      <iframe id="inventory" src="http://steamcommunity.com/profiles/<?=$uid?>/inventory/#753"></iframe>
      -->